.wrapper {
  border-right: 1px solid rgb(38, 38, 38);
  z-index: 3;
  position: fixed;
  width: var(--width-sidebar);
  background-color: var(--primary-color);
  padding: 8px 12px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }

  .logo {
    padding: 25px 12px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    height: 73px;
  }

  .text {
    color: #fafafa;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
    padding-left: 16px;
  }

  .textActive{
    font-weight: 700;
  }

  .item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 12px;
    margin: 2px 0px;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: #222;
    }
  }

  .img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid black;
    img {
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }
  .active {
    border: 2px solid #fafafa;
  }
}
