.wrapper {
  top: 0;
  width: 397px;
  min-width: 397px;
  position: fixed;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 60px;
  background-color: black;
  height: 100vh;
}
